
 .title{
    text-align: center;
 }
 .post{
    width: 25%;
    margin: auto;
    background-color: aqua;
 }
 .post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gay;
 }
 img{
    width: 100%;
    height: auto;
 }